Repository newyorkcompute/kalshi: changes, and which Codecov flags are due for each by the changed paths.
All: core, mcp, tui

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"
  
  status:
    project:
      default:
        # Don't fail CI if coverage drops, just report
        informational: true
        target: auto
        threshold: 5%
    patch:
      default:
        # New code should have reasonable coverage
        informational: true
        target: 60%

# Package-specific settings
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  mcp:
    paths:
      - packages/mcp/src/
    carryforward: true
  tui:
    paths:
      - packages/tui/src/
    carryforward: true

# Ignore these paths
ignore:
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/dist/**"
  - "**/node_modules/**"
  - "skills/**"

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

test(mcp): add tests for untested tools
  packages/mcp/src/tools/cancel-order.test.ts
  packages/mcp/src/tools/get-event.test.ts
  packages/mcp/src/tools/get-events.test.ts
  packages/mcp/src/tools/get-trades.test.ts
Due: none

test(mcp): add tests for untested tools (#44)
  packages/mcp/src/tools/cancel-order.test.ts
  packages/mcp/src/tools/get-event.test.ts
  packages/mcp/src/tools/get-events.test.ts
  packages/mcp/src/tools/get-trades.test.ts
Due: none

test: improve coverage for core and TUI packages
  package-lock.json
  packages/core/src/config.test.ts
  packages/core/src/format.test.ts
  packages/tui/package.json
  packages/tui/src/components/ErrorBoundary.test.tsx
  packages/tui/src/components/Footer.test.tsx
  packages/tui/src/components/Header.test.tsx
  packages/tui/src/components/__snapshots__/Footer.test.tsx.snap
Due: tui

fix: resolve ink/react dependencies for testing
  package-lock.json
  package.json
  packages/tui/package.json
Due: none

fix: remove snapshot test for cross-platform compatibility
  packages/tui/src/components/Footer.test.tsx
  packages/tui/src/components/__snapshots__/Footer.test.tsx.snap
Due: tui

test: improve coverage for core and TUI packages (#45)
  package-lock.json
  package.json
  packages/core/src/config.test.ts
  packages/core/src/format.test.ts
  packages/tui/package.json
  packages/tui/src/components/ErrorBoundary.test.tsx
  packages/tui/src/components/Footer.test.tsx
  packages/tui/src/components/Header.test.tsx
Due: tui

perf(ci): use nx affected for faster PR builds
  .github/workflows/ci.yml
Due: none

perf(ci): add NX cache for faster subsequent runs
  .github/workflows/ci.yml
Due: none

fix(ci): improve cache key, codecov, and add timeouts
  .github/workflows/ci.yml
Due: none

perf(ci): use nx affected for faster PR builds (#46)
  .github/workflows/ci.yml
Due: none

docs: add JSDoc documentation to public APIs
  packages/core/src/config.ts
  packages/core/src/format.ts
  packages/mcp/src/tools/cancel-order.ts
  packages/mcp/src/tools/create-order.ts
  packages/mcp/src/tools/get-balance.ts
  packages/mcp/src/tools/get-event.ts
  packages/mcp/src/tools/get-events.ts
  packages/mcp/src/tools/get-market.ts
  packages/mcp/src/tools/get-markets.ts
  packages/mcp/src/tools/get-orderbook.ts
  packages/mcp/src/tools/get-orders.ts
  packages/mcp/src/tools/get-positions.ts
  packages/mcp/src/tools/get-trades.ts
Due: core, mcp

docs: add JSDoc documentation to public APIs (#47)
  packages/core/src/config.ts
  packages/core/src/format.ts
  packages/mcp/src/tools/cancel-order.ts
  packages/mcp/src/tools/create-order.ts
  packages/mcp/src/tools/get-balance.ts
  packages/mcp/src/tools/get-event.ts
  packages/mcp/src/tools/get-events.ts
  packages/mcp/src/tools/get-market.ts
  packages/mcp/src/tools/get-markets.ts
  packages/mcp/src/tools/get-orderbook.ts
  packages/mcp/src/tools/get-orders.ts
  packages/mcp/src/tools/get-positions.ts
  packages/mcp/src/tools/get-trades.ts
Due: core, mcp

chore(tui): remove unused @inkjs/ui dependency
  package-lock.json
  packages/tui/package.json
Due: none

chore(tui): remove unused @inkjs/ui dependency (#48)
  package-lock.json
  packages/tui/package.json
Due: none

feat(tui): add loading indicators and offline detection
  packages/tui/src/App.tsx
  packages/tui/src/components/Header.test.tsx
  packages/tui/src/components/Header.tsx
  packages/tui/src/components/Markets.tsx
  packages/tui/src/components/Orderbook.tsx
  packages/tui/src/components/Positions.tsx
  packages/tui/src/components/Spinner.test.tsx
  packages/tui/src/components/Spinner.tsx
  packages/tui/src/components/index.ts
  packages/tui/src/hooks/useKalshi.ts
Due: tui

chore: add changeset
  .changeset/loading-offline.md
Due: none

fix(tui): only show timestamp when data is stale
  packages/tui/src/components/Header.test.tsx
  packages/tui/src/components/Header.tsx
Due: tui

fix(tui): remove refresh indicator to prevent layout shift
  packages/tui/src/App.tsx
  packages/tui/src/components/Header.test.tsx
  packages/tui/src/components/Header.tsx
Due: tui

test(tui): add component tests for better coverage
  packages/tui/src/components/Markets.test.tsx
  packages/tui/src/components/Orderbook.test.tsx
  packages/tui/src/components/Positions.test.tsx
  packages/tui/src/components/PriceChart.test.tsx
Due: tui

feat(tui): add loading indicators and offline detection (#49)
  .changeset/loading-offline.md
  packages/tui/src/App.tsx
  packages/tui/src/components/Header.test.tsx
  packages/tui/src/components/Header.tsx
  packages/tui/src/components/Markets.test.tsx
  packages/tui/src/components/Markets.tsx
  packages/tui/src/components/Orderbook.test.tsx
  packages/tui/src/components/Orderbook.tsx
  packages/tui/src/components/Positions.test.tsx
  packages/tui/src/components/Positions.tsx
  packages/tui/src/components/PriceChart.test.tsx
  packages/tui/src/components/Spinner.test.tsx
  packages/tui/src/components/Spinner.tsx
  packages/tui/src/components/index.ts
  packages/tui/src/hooks/useKalshi.ts
Due: tui

feat(tui): add Arbitrage Scanner panel
  .changeset/arbitrage-scanner.md
  packages/tui/src/App.tsx
  packages/tui/src/components/Arbitrage.test.tsx
  packages/tui/src/components/Arbitrage.tsx
  packages/tui/src/hooks/useKalshi.ts
Due: tui

improve: add context to arbitrage panel
  packages/tui/src/components/Arbitrage.test.tsx
  packages/tui/src/components/Arbitrage.tsx
Due: tui

refactor: extract calculateArbitrage to utils for testability
  packages/tui/src/hooks/useKalshi.ts
  packages/tui/src/utils.test.ts
  packages/tui/src/utils.ts
Due: tui

feat(tui): Add Arbitrage Scanner panel (#51)
  .changeset/arbitrage-scanner.md
  packages/tui/src/App.tsx
  packages/tui/src/components/Arbitrage.test.tsx
  packages/tui/src/components/Arbitrage.tsx
  packages/tui/src/hooks/useKalshi.ts
  packages/tui/src/utils.test.ts
  packages/tui/src/utils.ts
Due: tui

feat: add WebSocket support for real-time market data
  .changeset/websocket-support.md
  package-lock.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/websocket/auth.test.ts
  packages/core/src/websocket/auth.ts
  packages/core/src/websocket/client.ts
  packages/core/src/websocket/index.ts
  packages/core/src/websocket/types.test.ts
  packages/core/src/websocket/types.ts
  packages/tui/src/hooks/useKalshiWs.ts
Due: core, tui

feat(tui): integrate WebSocket with existing components
  packages/tui/src/App.tsx
  packages/tui/src/components/Header.tsx
  packages/tui/src/hooks/useKalshi.ts
Due: tui

feat: Add WebSocket support for real-time market data (#53)
  .changeset/websocket-support.md
  package-lock.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/websocket/auth.test.ts
  packages/core/src/websocket/auth.ts
  packages/core/src/websocket/client.ts
  packages/core/src/websocket/index.ts
  packages/core/src/websocket/types.test.ts
  packages/core/src/websocket/types.ts
  packages/tui/src/App.tsx
  packages/tui/src/components/Header.tsx
  packages/tui/src/hooks/useKalshi.ts
  packages/tui/src/hooks/useKalshiWs.ts
Due: core, tui

fix: resolve WebSocket lint errors
  packages/tui/src/hooks/useKalshi.ts
  packages/tui/src/hooks/useKalshiWs.ts
Due: tui

fix: resolve WebSocket lint errors (#55)
  packages/tui/src/hooks/useKalshi.ts
  packages/tui/src/hooks/useKalshiWs.ts
Due: tui

docs: add market maker architecture research
  MM_ARCHITECTURE.md
Due: none

docs: clarify daemon-first architecture (not HTTP server)
  MM_ARCHITECTURE.md
Due: none

feat: add market maker daemon (apps/mm)
  apps/mm/config.example.yaml
  apps/mm/eslint.config.js
  apps/mm/package.json
  apps/mm/src/api/server.ts
  apps/mm/src/config.test.ts
  apps/mm/src/config.ts
  apps/mm/src/daemon/bot.ts
  apps/mm/src/main.ts
  apps/mm/src/strategies/base.ts
  apps/mm/src/strategies/index.ts
  apps/mm/src/strategies/symmetric.test.ts
  apps/mm/src/strategies/symmetric.ts
  apps/mm/tsconfig.json
  apps/mm/vitest.config.ts
  package-lock.json
  package.json
  packages/core/src/index.ts
  packages/core/src/mm/index.ts
  packages/core/src/mm/inventory.test.ts
  packages/core/src/mm/inventory.ts
  packages/core/src/mm/order-manager.test.ts
  packages/core/src/mm/order-manager.ts
  packages/core/src/mm/risk.test.ts
  packages/core/src/mm/risk.ts
  packages/core/src/mm/types.ts
Due: core

chore: add changeset for MM primitives
  .changeset/market-maker.md
Due: none

fix: resolve lint errors
  apps/mm/src/config.test.ts
  apps/mm/tsconfig.json
  packages/core/src/mm/inventory.ts
  packages/core/src/mm/order-manager.ts
Due: core

fix: load .env.local via dotenv-cli for mm daemon
  apps/mm/package.json
Due: none

revert: remove dotenv-cli (NX loads .env automatically)
  apps/mm/package.json
Due: none

feat(mm): add adaptive strategy, P&L logging, position sync
  .gitignore
  apps/mm/src/config.ts
  apps/mm/src/daemon/bot.ts
  apps/mm/src/strategies/adaptive.ts
  apps/mm/src/strategies/index.ts
  package.json
  packages/core/src/websocket/auth.test.ts
  packages/core/src/websocket/auth.ts
  packages/core/src/websocket/client.ts
  packages/core/src/websocket/types.ts
Due: core

test: add coverage for inventory PnL and risk checkOrder edge cases
  packages/core/src/mm/inventory.test.ts
  packages/core/src/mm/risk.test.ts
Due: none

feat: add market maker daemon (apps/mm) (#57)
  .changeset/market-maker.md
  .gitignore
  apps/mm/config.example.yaml
  apps/mm/eslint.config.js
  apps/mm/package.json
  apps/mm/src/api/server.ts
  apps/mm/src/config.test.ts
  apps/mm/src/config.ts
  apps/mm/src/daemon/bot.ts
  apps/mm/src/main.ts
  apps/mm/src/strategies/adaptive.ts
  apps/mm/src/strategies/base.ts
  apps/mm/src/strategies/index.ts
  apps/mm/src/strategies/symmetric.test.ts
  apps/mm/src/strategies/symmetric.ts
  apps/mm/tsconfig.json
  apps/mm/vitest.config.ts
  package-lock.json
  package.json
  packages/core/src/index.ts
  packages/core/src/mm/index.ts
  packages/core/src/mm/inventory.test.ts
  packages/core/src/mm/inventory.ts
  packages/core/src/mm/order-manager.test.ts
  packages/core/src/mm/order-manager.ts
  packages/core/src/mm/risk.test.ts
  packages/core/src/mm/risk.ts
  packages/core/src/mm/types.ts
  packages/core/src/websocket/auth.test.ts
  packages/core/src/websocket/auth.ts
  packages/core/src/websocket/client.ts
  packages/core/src/websocket/types.ts
Due: core

feat(mcp): add get_fills, batch_cancel_orders, get_settlements tools
  .changeset/mcp-more-tools.md
  packages/mcp/src/index.ts
  packages/mcp/src/tools/batch-cancel-orders.test.ts
  packages/mcp/src/tools/batch-cancel-orders.ts
  packages/mcp/src/tools/get-fills.test.ts
  packages/mcp/src/tools/get-fills.ts
  packages/mcp/src/tools/get-settlements.test.ts
  packages/mcp/src/tools/get-settlements.ts
Due: mcp
