Repository newyorkcompute/kalshi: changes, and which Codecov flags are due for each by the changed paths.
All: core, mcp, tui

fix: align with actual kalshi-typescript SDK types
  ARCHITECTURE.md
  CODE_REVIEW.md
  FEATURE_IDEAS.md
  SID_TODO.md
  TODO.md
  TUI_ROADMAP.md
  packages/mcp/src/tools/batch-cancel-orders.test.ts
  packages/mcp/src/tools/batch-cancel-orders.ts
  packages/mcp/src/tools/get-fills.test.ts
  packages/mcp/src/tools/get-fills.ts
Due: mcp

chore: remove local planning files from git
  ARCHITECTURE.md
  CODE_REVIEW.md
  FEATURE_IDEAS.md
  SID_TODO.md
  TODO.md
  TUI_ROADMAP.md
Due: none

chore: add local planning files to .gitignore
  .gitignore
Due: none

fix: handle escaped newlines in private key for REST API
  package-lock.json
  packages/core/src/config.ts
  packages/mcp/package.json
Due: core

feat(mcp): add get_fills, batch_cancel_orders, get_settlements tools (#59)
  .changeset/mcp-more-tools.md
  .gitignore
  package-lock.json
  packages/core/src/config.ts
  packages/mcp/package.json
  packages/mcp/src/index.ts
  packages/mcp/src/tools/batch-cancel-orders.test.ts
  packages/mcp/src/tools/batch-cancel-orders.ts
  packages/mcp/src/tools/get-fills.test.ts
  packages/mcp/src/tools/get-fills.ts
  packages/mcp/src/tools/get-settlements.test.ts
  packages/mcp/src/tools/get-settlements.ts
Due: core, mcp

chore: upgrade to Node 22 LTS
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .nvmrc
  package.json
Due: none

chore: upgrade to Node 22 LTS (#61)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .nvmrc
  package.json
Due: none

chore: remove Smithery references from MCP server
  packages/mcp/src/index.ts
Due: mcp

chore: remove Smithery references from MCP server (#62)
  packages/mcp/src/index.ts
Due: mcp

feat(tui): add sort toggle with 's' key
  packages/tui/src/App.tsx
  packages/tui/src/components/Footer.tsx
  packages/tui/src/components/Markets.tsx
Due: tui

chore: add changeset
  .changeset/tui-sort-toggle.md
Due: none

feat(tui): add sort toggle with 's' key (#63)
  .changeset/tui-sort-toggle.md
  packages/tui/src/App.tsx
  packages/tui/src/components/Footer.tsx
  packages/tui/src/components/Markets.tsx
Due: tui

feat(tui): add config file and watchlist/favorites
  .changeset/config-watchlist.md
  BACKLOG.md
  packages/tui/src/App.tsx
  packages/tui/src/components/Footer.tsx
  packages/tui/src/components/Markets.tsx
  packages/tui/src/config.test.ts
  packages/tui/src/config.ts
Due: tui

feat(tui): add config file and watchlist/favorites (#65)
  .changeset/config-watchlist.md
  BACKLOG.md
  packages/tui/src/App.tsx
  packages/tui/src/components/Footer.tsx
  packages/tui/src/components/Markets.tsx
  packages/tui/src/config.test.ts
  packages/tui/src/config.ts
Due: tui

feat(tui): add keyboard help overlay and position P&L
  .changeset/help-pnl.md
  BACKLOG.md
  packages/tui/src/App.tsx
  packages/tui/src/components/Footer.tsx
  packages/tui/src/components/HelpOverlay.test.tsx
  packages/tui/src/components/HelpOverlay.tsx
  packages/tui/src/components/Positions.test.tsx
  packages/tui/src/components/Positions.tsx
  packages/tui/src/hooks/useKalshi.ts
Due: tui

fix: use 'h' key for help (more reliable than '?')
  packages/tui/src/App.tsx
  packages/tui/src/components/Footer.tsx
  packages/tui/src/components/HelpOverlay.tsx
Due: tui

feat: make help overlay a centered modal with position=absolute
  packages/tui/src/components/HelpOverlay.test.tsx
  packages/tui/src/components/HelpOverlay.tsx
Due: tui

fix: show help as full-screen takeover instead of broken overlay
  packages/tui/src/App.tsx
  packages/tui/src/components/HelpOverlay.tsx
Due: tui

feat: add dimmed background pattern to help modal
  packages/tui/src/App.tsx
  packages/tui/src/components/HelpOverlay.tsx
Due: tui

fix: remove ugly dimmed pattern, use clean full-screen help
  packages/tui/src/components/HelpOverlay.tsx
Due: tui

fix: use round border style for cleaner edges
  packages/tui/src/components/HelpOverlay.tsx
Due: tui

fix: simplify centering to avoid stray border artifacts
  packages/tui/src/components/HelpOverlay.tsx
Due: tui

fix: revert to full-screen takeover with single border
  packages/tui/src/components/HelpOverlay.tsx
Due: tui

fix: set explicit width on modal to fix border rendering
  packages/tui/src/components/HelpOverlay.tsx
Due: tui

feat(tui): add position P&L display (remove buggy help overlay)
  .changeset/help-pnl.md
  packages/tui/src/App.tsx
  packages/tui/src/components/Footer.tsx
  packages/tui/src/components/HelpOverlay.test.tsx
  packages/tui/src/components/HelpOverlay.tsx
Due: tui

feat(tui): add position P&L display (#67)
  .changeset/help-pnl.md
  BACKLOG.md
  packages/tui/src/components/Footer.tsx
  packages/tui/src/components/Positions.test.tsx
  packages/tui/src/components/Positions.tsx
  packages/tui/src/hooks/useKalshi.ts
Due: tui

feat(mm): add elite MM improvements - inventory skew, local orderbook, atomic updates
  .gitignore
  apps/mm/src/daemon/bot.ts
  apps/mm/src/strategies/adaptive.ts
  packages/core/src/index.ts
  packages/core/src/mm/index.ts
  packages/core/src/mm/order-manager.ts
  packages/core/src/mm/orderbook.test.ts
  packages/core/src/mm/orderbook.ts
Due: core

fix(mm): add quote debouncing to reduce API spam
  apps/mm/src/daemon/bot.ts
Due: none

chore: add changeset and improve test coverage
  .changeset/elite-mm-improvements.md
  packages/core/src/mm/orderbook.test.ts
Due: none

feat(mm): add elite MM improvements - inventory skew, local orderbook, atomic updates (#69)
  .changeset/elite-mm-improvements.md
  .gitignore
  apps/mm/src/daemon/bot.ts
  apps/mm/src/strategies/adaptive.ts
  packages/core/src/index.ts
  packages/core/src/mm/index.ts
  packages/core/src/mm/order-manager.ts
  packages/core/src/mm/orderbook.test.ts
  packages/core/src/mm/orderbook.ts
Due: core

docs: update README with latest features
  README.md
Due: none

docs: update README with latest features (#71)
  README.md
Due: none

feat(mm): Phase 2 Elite MM - microprice, multi-level, adverse selection
  .changeset/phase2-elite-mm.md
  apps/mm/config.example.yaml
  apps/mm/src/adverse-selection.test.ts
  apps/mm/src/adverse-selection.ts
  apps/mm/src/daemon/bot.ts
  apps/mm/src/strategies/adaptive.test.ts
  apps/mm/src/strategies/adaptive.ts
  apps/mm/src/strategies/base.ts
Due: none

fix: use costBasis instead of avgCost in Position type
  apps/mm/src/strategies/adaptive.test.ts
  apps/mm/src/strategies/base.ts
Due: none

chore: add cursor rules for PR workflow
  .cursor/rules/pre-pr-ci.mdc
  .gitignore
Due: none

feat(mm): Phase 2 Elite MM - microprice, multi-level, adverse selection (#72)
  .changeset/phase2-elite-mm.md
  .cursor/rules/pre-pr-ci.mdc
  .gitignore
  apps/mm/config.example.yaml
  apps/mm/src/adverse-selection.test.ts
  apps/mm/src/adverse-selection.ts
  apps/mm/src/daemon/bot.ts
  apps/mm/src/strategies/adaptive.test.ts
  apps/mm/src/strategies/adaptive.ts
  apps/mm/src/strategies/base.ts
Due: none

chore: ignore apps/mm from changesets
  .changeset/config.json
Due: none

chore: ignore apps/mm from changesets (#74)
  .changeset/config.json
Due: none

perf(mm): use batch APIs for quote updates
  apps/mm/src/daemon/bot.ts
  packages/core/src/mm/order-manager.test.ts
  packages/core/src/mm/order-manager.ts
Due: core

chore: add changeset
  .changeset/mm-batch-apis.md
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, skills/**
  mcp: any of: packages/mcp/src/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, skills/**
  tui: any of: packages/tui/src/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, skills/**
