Repository newyorkcompute/kalshi: changes, and which Codecov flags are due for each by the changed paths.
All: core, mcp, tui

fix: add error details to batch cancel fallback log
  packages/core/src/mm/order-manager.ts
Due: core

fix(mm): add debouncing to all quote update handlers
  apps/mm/src/daemon/bot.ts
Due: none

fix(mm): add global rate limiter to prevent API burst
  apps/mm/src/daemon/bot.ts
Due: none

fix(mm): ensure first quote per market is placed
  apps/mm/src/daemon/bot.ts
Due: none

perf(mm): use batch APIs for quote updates (~4x faster) (#75)
  .changeset/mm-batch-apis.md
  apps/mm/src/daemon/bot.ts
  packages/core/src/mm/order-manager.test.ts
  packages/core/src/mm/order-manager.ts
Due: core

fix(mm): use correct fill price fields (yes_price/no_price)
  apps/mm/src/daemon/bot.ts
  packages/core/src/websocket/types.ts
Due: core

chore: add changeset for fill price fix
  .changeset/fix-fill-price.md
Due: none

fix(mm): use correct fill price fields (yes_price/no_price) (#77)
  .changeset/fix-fill-price.md
  apps/mm/src/daemon/bot.ts
  packages/core/src/websocket/types.ts
Due: core

perf(mm): add quote caching to skip redundant API calls
  apps/mm/src/daemon/bot.ts
Due: none

perf(mm): add quote caching to skip redundant API calls (#79)
  apps/mm/src/daemon/bot.ts
Due: none

feat(mm): add elite risk controls and Avellaneda-Stoikov strategy
  apps/mm/config.example.yaml
  apps/mm/src/config.ts
  apps/mm/src/daemon/bot.ts
  apps/mm/src/risk-controls.test.ts
  apps/mm/src/risk-controls.ts
  apps/mm/src/strategies/adaptive.test.ts
  apps/mm/src/strategies/adaptive.ts
  apps/mm/src/strategies/avellaneda.test.ts
  apps/mm/src/strategies/avellaneda.ts
  apps/mm/src/strategies/index.ts
Due: none

feat(mm): add elite risk controls and Avellaneda-Stoikov strategy (#80)
  apps/mm/config.example.yaml
  apps/mm/src/config.ts
  apps/mm/src/daemon/bot.ts
  apps/mm/src/risk-controls.test.ts
  apps/mm/src/risk-controls.ts
  apps/mm/src/strategies/adaptive.test.ts
  apps/mm/src/strategies/adaptive.ts
  apps/mm/src/strategies/avellaneda.test.ts
  apps/mm/src/strategies/avellaneda.ts
  apps/mm/src/strategies/index.ts
Due: none

feat(mm): P0/P1 trading fixes - order reconciliation, fill linkage, expiry, stale orders
  .changeset/mm-trading-fixes.md
  apps/mm/src/daemon/bot.ts
  packages/core/src/mm/order-manager.ts
Due: core

chore: remove private package from changeset
  .changeset/mm-trading-fixes.md
Due: none

feat(mm): Phase 3 - Dynamic skew + imbalance-aware quoting
  apps/mm/config.example.yaml
  apps/mm/src/config.ts
  apps/mm/src/strategies/adaptive.ts
Due: none

feat(mm): Skip risky side entirely at very high imbalance
  apps/mm/config.example.yaml
  apps/mm/src/config.ts
  apps/mm/src/strategies/adaptive.ts
Due: none

feat(mm): Add timestamps to all console logs
  apps/mm/src/daemon/bot.ts
Due: none

fix(mm): Preserve strategy's zero sizes in drawdown scaling
  apps/mm/src/daemon/bot.ts
Due: none

feat(mm): P0/P1 Trading Fixes + Phase 3 Imbalance-Aware Quoting (#81)
  .changeset/mm-trading-fixes.md
  apps/mm/config.example.yaml
  apps/mm/src/config.ts
  apps/mm/src/daemon/bot.ts
  apps/mm/src/strategies/adaptive.ts
  packages/core/src/mm/order-manager.ts
Due: core

fix(mm): apply imbalance protection to multi-level quoting
  apps/mm/src/strategies/adaptive.test.ts
  apps/mm/src/strategies/adaptive.ts
Due: none

fix(mm): apply imbalance protection to multi-level quoting (#83)
  apps/mm/src/strategies/adaptive.test.ts
  apps/mm/src/strategies/adaptive.ts
Due: none

fix(tui): use realized_pnl from Kalshi API instead of incorrect calculation
  packages/tui/src/hooks/useKalshi.ts
Due: tui

chore: add changeset
  .changeset/fix-tui-pnl.md
Due: none

fix(tui): use realized_pnl from Kalshi API instead of incorrect calculation (#84)
  .changeset/fix-tui-pnl.md
  packages/tui/src/hooks/useKalshi.ts
Due: tui

fix(core): correct P&L calculation in InventoryTracker
  .changeset/pnl-fix.md
  apps/mm/src/strategies/adaptive.test.ts
  apps/mm/src/strategies/avellaneda.test.ts
  packages/core/src/mm/inventory.test.ts
  packages/core/src/mm/inventory.ts
  packages/core/src/mm/types.ts
Due: core

fix(core): add defensive checks for finalized market orderbook snapshots
  packages/core/src/mm/orderbook.ts
Due: core

fix(core): correct P&L calculation in InventoryTracker (#86)
  .changeset/pnl-fix.md
  apps/mm/src/strategies/adaptive.test.ts
  apps/mm/src/strategies/avellaneda.test.ts
  packages/core/src/mm/inventory.test.ts
  packages/core/src/mm/inventory.ts
  packages/core/src/mm/types.ts
Due: core

chore: add changeset for orderbook fix
  .changeset/orderbook-finalized-fix.md
Due: none

fix(core): add defensive checks for finalized market orderbook snapshots (#88)
  .changeset/orderbook-finalized-fix.md
  packages/core/src/mm/orderbook.ts
Due: core

feat(mm): add market scanner and optimism-tax strategy
  apps/mm/config.example.yaml
  apps/mm/src/api/server.ts
  apps/mm/src/config.test.ts
  apps/mm/src/config.ts
  apps/mm/src/daemon/bot.ts
  apps/mm/src/main.ts
  apps/mm/src/scanner/category-weights.test.ts
  apps/mm/src/scanner/category-weights.ts
  apps/mm/src/scanner/index.ts
  apps/mm/src/scanner/market-scanner.ts
  apps/mm/src/strategies/index.ts
  apps/mm/src/strategies/optimism-tax.test.ts
  apps/mm/src/strategies/optimism-tax.ts
  package-lock.json
Due: none

feat(mm): add TUI dashboard, maker protection, and broad market improvements
  GREED_BOT_ANALYSIS.md
  apps/mm/package.json
  apps/mm/src/daemon/bot.ts
  apps/mm/src/dashboard/Dashboard.tsx
  apps/mm/src/dashboard/components.tsx
  apps/mm/src/dashboard/index.tsx
  apps/mm/src/dashboard/useBot.ts
  apps/mm/src/main.ts
  apps/mm/src/scanner/category-weights.test.ts
  apps/mm/src/scanner/category-weights.ts
  apps/mm/src/scanner/market-scanner.ts
  apps/mm/src/strategies/optimism-tax.ts
  apps/mm/tsconfig.json
  package-lock.json
  packages/core/src/mm/order-manager.ts
Due: core

fix(mm): add hold-to-settlement logic to prevent round-trip churning
  apps/mm/src/strategies/optimism-tax.ts
Due: none

chore: add changeset for hold-to-settlement fix
  .changeset/hold-to-settlement.md
Due: none

chore: remove GREED_BOT_ANALYSIS.md from repo
  GREED_BOT_ANALYSIS.md
Due: none

feat(mm): market scanner, optimism-tax strategy, TUI dashboard & hold-to-settlement fix (#93)
  .changeset/hold-to-settlement.md
  apps/mm/config.example.yaml
  apps/mm/package.json
  apps/mm/src/api/server.ts
  apps/mm/src/config.test.ts
  apps/mm/src/config.ts
  apps/mm/src/daemon/bot.ts
  apps/mm/src/dashboard/Dashboard.tsx
  apps/mm/src/dashboard/components.tsx
  apps/mm/src/dashboard/index.tsx
  apps/mm/src/dashboard/useBot.ts
  apps/mm/src/main.ts
  apps/mm/src/scanner/category-weights.test.ts
  apps/mm/src/scanner/category-weights.ts
  apps/mm/src/scanner/index.ts
  apps/mm/src/scanner/market-scanner.ts
  apps/mm/src/strategies/index.ts
  apps/mm/src/strategies/optimism-tax.test.ts
  apps/mm/src/strategies/optimism-tax.ts
  apps/mm/tsconfig.json
  package-lock.json
  packages/core/src/mm/order-manager.ts
Due: core

feat(mm,core): resilient WebSocket reconnection, connection health monitoring, esports detection & tightened risk controls
  .changeset/resilient-mm-bot.md
  .changeset/resilient-ws-reconnect.md
  apps/mm/src/api/server.ts
  apps/mm/src/daemon/bot.ts
  apps/mm/src/scanner/category-weights.ts
  apps/mm/src/scanner/market-scanner.ts
  packages/core/src/websocket/client.ts
  packages/core/src/websocket/types.ts
Due: core

feat(mm,core): resilient WebSocket reconnection, connection health monitoring, esports detection & tightened risk controls (#94)
  .changeset/resilient-mm-bot.md
  .changeset/resilient-ws-reconnect.md
  apps/mm/src/api/server.ts
  apps/mm/src/daemon/bot.ts
  apps/mm/src/scanner/category-weights.ts
  apps/mm/src/scanner/market-scanner.ts
  packages/core/src/websocket/client.ts
  packages/core/src/websocket/types.ts
Due: core

feat(mm): volatility-aware mid-range protection against adverse selection
  .changeset/volatility-midrange-protection.md
  apps/mm/src/daemon/bot.ts
  apps/mm/src/scanner/market-scanner.ts
  apps/mm/src/strategies/optimism-tax.test.ts
  apps/mm/src/strategies/optimism-tax.ts
Due: none

feat(mm): volatility-aware mid-range protection against adverse selection (#96)
  .changeset/volatility-midrange-protection.md
  apps/mm/src/daemon/bot.ts
  apps/mm/src/scanner/market-scanner.ts
  apps/mm/src/strategies/optimism-tax.test.ts
  apps/mm/src/strategies/optimism-tax.ts
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, skills/**
  mcp: any of: packages/mcp/src/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, skills/**
  tui: any of: packages/tui/src/, but not: **/*.test.ts, **/*.spec.ts, **/dist/**, **/node_modules/**, skills/**
